@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
p{
    color: white;
    margin-bottom: 20px;
}
body{
    min-height: 100vh;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(257, 40%, 49%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 176px;
    height: 43px;
    background-image: url(./images/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:20px ;
}
.imgss {
    position: relative;
}
.imgss img {
    display: block;
    width: 100%;
    max-width: 709px; 
    margin: 0 auto;
}
.main-container{
    min-height: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content{
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.inner-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h2{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 10px;
}
.btn{
    height: 40px;
    width: 200px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px hsl(300, 28%, 32%);
}
.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.icons{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ic{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-style: none;
    border: 1px solid white;
    background-color: hsl(257, 40%, 49%);
}
.ic path{
    fill: white;
}

.ic:hover {
    border: 1px solid hsl(300, 69%, 71%);
}
.ic:hover path{
    fill: hsl(300, 69%, 71%);
}

@media(min-width:650px){
    body{
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
    }
    .logo{
        margin-bottom: 60px;
        width: 264px;
        height: 65px;
    }
    .main-container{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .images{
        width: 50%;
        height: 100%;
    }
    .content{
        width: 45%;
        height: 100%;
        text-align: left;
    }
    h2{
        font-size: 3rem;
    }
    .btn{
        height: 50px;
        border-radius: 25px;
        align-self: flex-start;
    }
    p{
        font-size: 18px;
        line-height: 30px;
    }
    footer{
        align-self: flex-end;
        margin-right: 5%;
    }

}